<footer class="site-footer">

  <div class="wrapper">

      <div class="footer-col-1">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
          <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a></p>

      </div>

      <div class="footer-col-2">
          <i class="fa fa-quote-left"></i>
        {{ site.description }}
        <i class="fa fa-quote-right"></i>
      </div>
    </div>

  </div>

</footer>
